<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ImageResizer" version="4.0.5" targetFramework="net452" />
  <package id="ImageResizer.Plugins.DiskCache" version="4.0.5" targetFramework="net452" />
  <package id="ImageResizer.Plugins.FastScaling.x64" version="4.0.5" targetFramework="net452" />
  <package id="ImageResizer.Plugins.FastScaling.x86" version="4.0.5" targetFramework="net452" />
  <package id="ImageResizer.Plugins.TinyCache" version="4.0.5" targetFramework="net452" />
</packages>